.social-bar__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-top: 0.5em;
}

.social-bar__button {
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 0.5em 1em;
    padding: 0.25em 0.75em;
    font-size: 0.85em;
    text-decoration: none;
    transition: background-color 1s;
    font-family: 'Kanit', sans-serif;
}

.social-bar__button:hover {
    background-color: #000000;
}