.about__container {

  padding-left: 2em;
  padding-right: 2em;
}

.about__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: justify;
}

.about__content-image {
  width: 5em;
  border-radius: 50%;
}

.about__content-icon {
  font-size: 3em;
  color: #8d8d8d;
}
